<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>工作方面</string>
		<key>itemArray</key>
		<array>
			<string>能力开发</string>
			<string>经营</string>
			<string>管理</string>
			<string>进货</string>
			<string>工作人员</string>
			<string>学习</string>
			<string>资格</string>
			<string>活动</string>
			<string>企划案</string>
			<string>想法</string>
			<string>推广</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>金钱方面</string>
		<key>itemArray</key>
		<array>
			<string>收入</string>
			<string>支出</string>
			<string>购入品</string>
			<string>股票</string>
			<string>资产</string>
			<string>储蓄</string>
			<string>家用</string>
			<string>投资信托</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>健康方面</string>
		<key>itemArray</key>
		<array>
			<string>饮食</string>
			<string>运动</string>
			<string>减肥</string>
			<string>练身体</string>
			<string>体重</string>
			<string>体脂肪</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>人际关系</string>
		<key>itemArray</key>
		<array>
			<string>父母</string>
			<string>家人</string>
			<string>小孩儿</string>
			<string>亲戚</string>
			<string>情人</string>
			<string>工作伙伴</string>
			<string>朋友/熟人</string>
			<string>联络事项</string>
			<string>人脉网络</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>兴趣与其他</string>
		<key>itemArray</key>
		<array>
			<string>义工活动</string>
			<string>阅读</string>
			<string>运动</string>
			<string>打扮</string>
			<string>电影</string>
			<string>音乐</string>
			<string>游戏</string>
			<string>喜欢物品</string>
			<string>今天必须注意的事情</string>
			<string>开心的事情</string>
			<string>购物，美容</string>
		</array>
	</dict>
</array>
</plist>
